.appCard {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  cursor: pointer;
}

.appCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

:global(.dark) .appCard:hover {
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2),
    0 3px 6px rgba(255, 255, 255, 0.15);
}
